* { 
    
    
    margin:0; 
    padding: 0px;; 
    box-sizing:border-box; 



}


.parent {
    position: relative;
    top: 10;
    left: 0;
    
    
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 5px solid yellow;
    height: 220px;
    /* padding: 30px; */
  }
  

body{
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.menu-bar{
    
    position: absolute;
    top: 38px;
    right: 90px;
    width: 70%;
    border: 5px solid red;
    
}

.menu-bar-items{
    display: flex;
    justify-content: flex-end;
    
}

.menu-bar-items a{
    color:white;
    margin-left: 15px;
    text-decoration: none;
}

.middle-main{
    position: absolute;
    top: 138px;
    color: white;
    width: 100%;
    border: 5px solid green;
    
}

.middle-main-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 80px;
    flex-direction: column;
    
}

.main-page{
    background: url("Palms.PNG");
    height: 100vh;
    border: 4px solid aqua;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.AboutMe-Image-info{
    display: flex;
    margin-left: 200px;
    gap: 40px;
}

#AboutMe-title{
    font-size: 200%;
    display: flex;
    justify-content: center;
}

#AboutMe-info{
    margin-top: 100px;
    color: gray;
    font-size: 120%;
    width: 50%;
    font-family:'Times New Roman', Times, serif;
}


#Personal-Projects{
    background-color: #f2caa7;
}

#Personal-Projects p {
    font-family:monospace;
    display: flex;
    justify-content: center;
    font-size: 160%;
}

.Projects{
    display: flex;

}

.image2{
    
    background: url("connect4.PNG");
    position: relative;
    width: 600px;
    height: 300px;
    border: 2px solid blue;
    background-size: 100% 100%;
}

.image2 span{
    position: absolute;
    top: 90;
    left: 60;
    
}

/* #image{
    position: relative;
}
.birdsImage{
    position: absolute;
    top: 48px;
} */

#AboutMe{
    border: 4px solid greenyellow;
      
    
}



@media screen and (max-width: 1550px){
    .main-page img{
        width: 100%;
    }
}


@media screen and (max-height: 200px){
    .main-page img{
        height: 100px;
    }
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
} 