* { 
    
    
    margin:0; 
    padding: 0px;; 
    box-sizing:border-box; 



}


.parent {
    position: relative;
    top: 10;
    left: 0;
    
    
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;

    
    height: 220px;
    /* padding: 30px; */
  }
  

body{
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.menu-bar{
    
    position: absolute;
    top: 38px;
    right: 90px;
    width: 70%;
    opacity: 1;
    
}

.menu-bar-items{
    display: flex;
    justify-content: flex-end;
    
}

.menu-bar-items a{
    color:white;
    margin-left: 15px;
    text-decoration: none;
}


.middle-main-entire{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 3px solid red;
    height: 100px;
}

.middle-main{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 188px;
    color: white;
    width: 55%;
    border: 5px solid orange;
    left: 150px;
    background-color: gray;
    height: 100px;
   
    
    
}

.middle-main p{
    display: flex;
    justify-content: flex-start;
    height: 300px;
    font-size: 60px;
    font-family:monospace;
    margin-left: 15px;
    
}

.main-page{
    background: url("Palms.PNG");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.AboutMe-Image-info{
    display: flex;
    margin-left: 200px;
    gap: 40px;
}

#AboutMe-title{
    font-size: 200%;
    display: flex;
    justify-content: center;
}

#AboutMe-info{
    margin-top: 100px;
    color: gray;
    font-size: 120%;
    width: 50%;
    font-family:'Times New Roman', Times, serif;
}


#Personal-Projects{
    background-color: #f2caa7;
    
}

#Personal-Projects p {
    font-family:monospace;
    display: flex;
    justify-content: center;
    font-size: 160%;
}

.Projects{
    display: flex;
    gap: 10px;
    border: 4px solid orange;
    flex-wrap: wrap;

}

.image2{
    
    background: url("connect4.PNG");
    position: relative;
    width: 600px;
    height: 300px;
    border: 2px solid blue;
    background-size: 100% 100%;
}

.image2 span{
    position: absolute;
    top: 210px;
    margin-left: 160px;
    left: 60;
    font-size: 130%;
    
}



.image3{
    background: url("Calculator.png");
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px solid blue;
    background-size: 100% 100%;
}

.image3 span{
    position: absolute;
    top: 170px;
    margin-left: 160px;
    left: 60;
    font-size: 130%;
    
}


.image4{
    background: url("TicTacToe.png");
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px solid blue;
    background-size: 100% 100%;
}

.image4 span{
    position: absolute;
    top: 1px;
    margin-left: 160px;
    left: 60;
    font-size: 130%;
    color:black;
    
}
/* #image{
    position: relative;
}
.birdsImage{
    position: absolute;
    top: 48px;
} */

#AboutMe{
    border: 4px solid greenyellow;
      
    
}

.contacts span{
    display: flex;
    justify-content: center;
}

.FullContactInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}




@media screen and (max-width: 1550px){
    .main-page img{
        width: 100%;
    }
}


@media screen and (max-height: 200px){
    .main-page img{
        height: 100px;
    }
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
} 